{
  "compact": false,
  "plugins": [
    "handlebars-inline-precompile",
    "import-glob",
    "files",
    "transform-async-to-generator",
    "transform-es2015-destructuring",
    "transform-es2015-modules-commonjs",
    "transform-strict-mode"
  ]
}
