<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>novemberborn.net</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/@csstools/normalize.css@12.1.1/normalize.css">
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="icon" href="/assets/favicon.svg">
  <link rel="mask-icon" href="/assets/mask-icon.svg" color="#ff4f00">
  <script type="module" src="/assets/email.js" async></script>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1><a href="/">novemberborn.net</a></h1>
      <nav>
        <ul>
          <li><a href="/work">Work</a></li>
          <li><a href="/open-source">Open Source</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <article></article>
    </main>

    <footer>
      <strong>novemberborn.net</strong> is the online home of Mark Wubben since 2004. And yes, I was born in November.
      <a data-email="bcd1ddced7fcd2d3cad9d1ded9ceded3ced292d2d9c8">Contact me</a> or find me on <a
        href="https://github.com/novemberborn">GitHub</a> and <a
        href="https://www.linkedin.com/in/novemberborn/">LinkedIn</a>. You can also <a
        href="https://github.com/novemberborn/novemberborn.net">view source</a>.
    </footer>
  </div>
</body>

</html>
