body {
  padding: 0 1rem 1rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: #333;
}

.root {
  margin: 0 auto;
  max-width: 28rem;

  /* Assume standard font-size of 16px, meaning the body has 32px horizontal
  padding. Target minimum width of 320px (iPhone 4). */
  min-width: 288px;
}

.invert {
  filter: invert(100%);
}

h1,
h2 {
  font-weight: normal;
  margin: 1rem 0;
}

img {
  width: 100%;
}

nav {
  border-bottom: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0 0 0.5rem;

  ul {
    padding: 0;
    margin: 0;
  }

  ul::before {
    content: "novemberborn.net";
    font-weight: bold;
    display: block;
  }

  li {
    list-style: none;
    margin: 0;
    display: inline;
  }

  li::after {
    content: ", ";
  }

  li:last-child::after {
    content: "";
  }

  a {
    color: #333;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  &[data-current="/"] a[href="/"],
  &[data-current="/about"] a[href="/about"],
  &[data-current="/skills-and-background"] a[href="/skills-and-background"],
  &[data-current^="/projects"] a[href="/projects"] {
    background: #fff85f;
  }
}
