body {
  padding: 0 1rem 1rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: #333;

  & > header,
  & > main {
    margin: 0 auto;
    max-width: 28rem;

    /* Assume standard font-size of 16px, meaning the body has 32px horizontal
    padding. Target minimum width of 320px (iPhone 4). */
    min-width: 288px;
  }
}

header {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0 0.5rem;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }

  a {
    color: #333;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    body[data-pathname="/colophon"] &[href="/colophon"],
    body[data-pathname="/skills-and-background"] &[href="/skills-and-background"],
    body[data-pathname^="/projects"] &[href="/projects"] {
      background: #fff85f;
    }
  }
}

main {
  h1,
  h2 {
    font-weight: normal;
    margin: 1rem 0;
  }

  img {
    width: 100%;
  }
}

.invert {
  filter: invert(100%);
}
